<div class="container">
<center>
<h1><a href="/">JS Ruby Racer</a></h1>
<h3>Register your name now!</h3>
	<form action='/player/create' method="post">
	Your name: <input type="text" name="name"><br><br>
	<input type="submit" value="Register">
	</form>
	</center>
</div>