<div class="container">
<center><h1><a href="/">JS Ruby Racer</a></h1>
<h2> Results </h2>
</center>

<table border="1" style="width:100%" >
	<tr style="text-align:center">
		<th>Winner</th>
		<th>Loser</th>
		<th>Time</th>
	</tr>
	<tr style="text-align:center">
		<td><%= @player_win.name %></td>
		<td><%= @player_lose.name%></td>
		<td><%= @game.time_taken %></td>
	</tr>
</table>

</div>